* {
  text-align: center;
  background-color: bisque;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-right: auto;
}

.timer-count {
  font-size: 24px;
}

#end-container {
  display: none;
}

#highscores-list {
  list-style: none;
  padding: 0;
}
